body {
    margin: 200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #82aa94;
}


#container {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border: 5px solid green;
    flex-wrap: wrap;
    gap: 0px;
    
}

.divGrid {
    border: 1px solid black; 
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    flex: 1 1 auto;
    
}

#gridSizeBtn {
    height: 30px;
    border-radius: 10px;
    
}