body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    gap: 20px;
    background-color: oklch(25.457% 0.02904 199.254);
    color: rgba(0, 0, 0, 0.788);
}


#grid {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: white;
    border: 5px solid rgb(7, 56, 58);
    box-shadow: 0 0 15px lightseagreen;
    flex-wrap: wrap;
    gap: 0px;
    align-content: flex-start;
}

.divGrid {
    border: 1px solid black; 
    
    box-sizing: border-box;
    
    
}

#gridSizeBtn {
    height: 30px;
    border-radius: 10px;

    
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#container {
    display: flex;
}


#palette {
    background-color: whitesmoke;
    width: 250px;
    border: 5px solid rgb(7, 56, 58);
    box-shadow: 0 0 15px lightseagreen;
}