body {
    margin: 200px;
    padding: 0px;
    display: flex;
    justify-content: center;
}


#container {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border: 5px solid green;
    flex-wrap: wrap;
    gap: 0px;
    
}

.divGrid {
    border: 1px solid black; 
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    flex: 1 1 auto;
    
}
