body {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #82aa94;
    color: rgba(0, 0, 0, 0.788);
}


#container {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: white;
    border: 5px solid green;
    flex-wrap: wrap;
    gap: 0px;
    align-content: flex-start;
}

.divGrid {
    border: 1px solid black; 
    
    box-sizing: border-box;
    
    
}

#gridSizeBtn {
    height: 30px;
    border-radius: 10px;
    
}