body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  align-items: center;
  gap: 20px;
  background-color: oklch(25.457% 0.02904 199.254);
  color: rgba(0, 0, 0, 0.788);
}

#grid {
  display: flex;
  width: 800px;
  height: 800px;
  background-color: white;
  border: 5px solid rgb(7, 56, 58);
  box-shadow: 0 0 15px lightseagreen;
  flex-wrap: wrap;
  gap: 0px;
  align-content: flex-start;
}

.divGrid {
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  height: 35px;
  font-size: 15px;
  background-color: rgb(7, 56, 58);
  color: white;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;

}

#header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  width: 500px;
  gap: 10px;
}

#container {
  display: flex;
  gap: 20px;
}

#palette {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-evenly;
  align-content: center;
  background-color: whitesmoke;
  width: 250px;
  border: 5px solid rgb(7, 56, 58);
  box-shadow: 0 0 15px lightseagreen;
}

#redColor {
  background-color: red;
}

#orangeColor {
  background-color: orange;
}

#yellowColor {
  background-color: yellow;
}

#greenColor {
  background-color: green;
}

#cyanColor {
  background-color: cyan;
  background-color: rgb(56, 231, 231);
}

#blueColor {
  background-color: blue;
}

#purpleColor {
  background-color: blueviolet;
}
#pinkColor {
  background-color: pink;
}
#wheatColor {
  background-color: wheat;
}
#brownColor {
  background-color: brown;
}

#greyColor {
  background-color: grey;
}
#blackColor {
  background-color: black;
}
#whiteColor {
  background-color: white;
}

.ColorElement {
  border: 2px solid black;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
}
